#root {
    height: 100vh;
}

.ms-Panel-main {
    max-width: 80%;
}

body.vscode-high-contrast {
    .ms-ContextualMenu {
        .ms-ContextualMenu-link {
            height: 29px;
            border: thin solid transparent;

            &:hover {
                background-color: rgba(15, 74, 133, 0.1);
                color: var(--vscode-foreground);
                border: thin solid var(--focus-border);
            }
        }
    }
}

body.vscode-dark,
body.vscode-high-contrast[data-vscode-theme-name="Dark High Contrast"] {
    .ms-Overlay {
        background-color: rgba(0, 0, 0, 0.4);
    }
}

.ms-ContextualMenu-Callout {
    animation: none;

    .ms-Callout-main {
        background-color: var(--vscode-panel-background);
    }

    outline: var(--vscode-menu-border) solid 1px;
    border-radius: 5px;
    box-shadow: rgb(0 0 0 / 36%) 0px 2px 8px;
}

.ms-ContextualMenu {
    background-color: var(--vscode-menu-background);

    .ms-ContextualMenu-icon {
        color: var(--vscode-foreground);
    }

    .ms-ContextualMenu-item {
        display: flex;
    }

    .ms-ContextualMenu-itemText {
        color: var(--vscode-foreground);
        font-size: 13px;
        height: 16px;
        line-height: 13px;
    }

    .ms-ContextualMenu-link {
        height: 28px;
        padding-left: 22px;
        padding-right: 22px;
        margin-left: 4px;
        margin-right: 4px;
        border-radius: 4px;
        flex: 1;

        &:hover,
        &.is-expanded {
            background-color: var(--vscode-menu-selectionBackground);

            .ms-ContextualMenu-itemText {
                color: var(--vscode-menu-selectionForeground);
            }

            .ms-ContextualMenu-icon {
                color: var(--vscode-menu-selectionForeground);
            }

            .ms-ContextualMenu-submenuIcon {
                color: var(--vscode-menu-selectionForeground);
            }
        }

        &.is-disabled {
            .ms-ContextualMenu-itemText {
                color: var(--vscode-menu-separatorBackground);
            }

            .ms-ContextualMenu-icon {
                color: var(--vscode-menu-separatorBackground);
            }
        }
    }

    .ms-ContextualMenu-list {
        padding: 4px 0;
    }

    .ms-ContextualMenu-linkContent {
        height: 28px;

        i {
            margin-left: -16px;
        }
    }
}

.ms-Callout-main {
    border-radius: 5px;
}

.ms-ContextualMenu-divider {
    background-color: var(--vscode-menu-separatorBackground);
    margin-top: 5px;
    margin-bottom: 5px;
}

.ms-SearchBox {
    input:focus {
        outline: unset;
    }
}

.ms-Dropdown-item .ms-Button-flexContainer,
.ms-Dropdown-item .ms-Checkbox-label {
    white-space: nowrap;
}

input.ms-ComboBox-Input {
    outline: unset;
}

.ms-Dropdown-container {
    .ms-Dropdown-title {
        border-color: var(--vscode-dropdown-border) !important;
        background-color: var(--vscode-dropdown-background);
        color: var(--vscode-dropdown-foreground);
    }

    .is-disabled {
        opacity: 0.4;
    }
}

.ms-ComboBox-container {
    .ms-ComboBox {
        background-color: var(--vscode-dropdown-background);
        color: var(--vscode-dropdown-foreground);

        input {
            background-color: var(--vscode-dropdown-background);
            color: var(--vscode-dropdown-foreground);
        }

        button {
            background-color: var(--vscode-dropdown-background);
        }
    }

    .is-disabled {
        opacity: 0.4;
    }
}

.ms-SearchBox {
    background-color: var(--vscode-panel-background);
    color: var(--vscode-foreground);
}

.ms-TextField {
    label {
        pointer-events: none;
    }

    &.is-disabled {
        opacity: 0.4;
    }
}

.ms-TextField-fieldGroup {
    background-color: var(--vscode-dropdown-background);
    color: var(--vscode-dropdown-foreground);
    border-color: var(--vscode-dropdown-border) !important;
}

.ms-spinButton-input {
    outline: none;
    background-color: var(--vscode-dropdown-background);
    color: var(--vscode-dropdown-foreground);
}

.ms-Panel-contentInner {
    background-color: var(--vscode-panel-background);
    color: var(--vscode-foreground);
    padding: 0px !important;

    .ms-Panel-content {
        padding-right: 0px;
    }
}

.ms-Checkbox.is-checked.is-enabled.ms-Dropdown-item {
    background-color: var(--vscode-menu-selectionBackground);
    color: var(--vscode-menu-selectionForeground);
}

.ms-Checkbox.is-enabled.ms-ComboBox-item {
    background-color: var(--vscode-menu-selectionBackground);
    color: var(--vscode-menu-selectionForeground);
}

.ms-ComboBox-option.is-disabled {
    .ms-Checkbox-label {
        opacity: 0.4;
    }
}

.ms-Dropdown-callout .ms-Callout-main {
    background-color: var(--vscode-panel-background);
    color: var(--vscode-foreground);
}

.ms-ComboBox-callout {
    box-shadow: unset;

    .ms-Callout-main {
        background-color: var(--vscode-menu-background);
        color: var(--vscode-menu-foreground);
        margin-right: 2px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;

        box-shadow: rgb(0 0 0 / 13%) 0px 3.2px 7.2px 0px, rgb(0 0 0 / 11%) 1px 0.6px 1.8px 0px;

        &::-webkit-scrollbar-track {
            background-color: var(--vscode-sideBar-background);
        }

        .ms-ComboBox-divider {
            background-color: var(--vscode-menu-separatorBackground);
        }

        .ms-Checkbox {
            background-color: unset;
            align-items: stretch;

            .ms-ComboBox-optionText {
                color: var(--vscode-foreground);
            }

            .ms-Checkbox-checkbox {
                margin-right: 12px;
                border: thin solid var(--vscode-checkbox-border);
                border-radius: 3px;
                background-color: var(--vscode-checkbox-background);

                &::after {
                    border: unset !important;
                    background-color: var(--vscode-foreground) !important;
                    width: 8px;
                    height: 8px;
                    top: 5px;
                    left: 5px;
                }
            }

            i {
                display: none;
            }

            &.is-checked {
                .ms-Checkbox-checkbox::before {
                    font: normal normal normal 16px/1 codicon;
                    display: inline-block;
                    text-decoration: none;
                    text-rendering: auto;
                    text-align: center;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    user-select: none;
                    -webkit-user-select: none;
                    -ms-user-select: none;
                    content: "\eab2";
                }
            }
        }
    }
}

.ms-spinButton-input {
    outline: none !important;
}

.ms-Button--action.ms-Button--command.is-disabled {
    opacity: 0.4;
}

.ms-TextField-errorMessage span {
    color: var(--vscode-errorForeground);
}

.ms-DetailsRow {
    background: unset;
    border-bottom: unset;
    min-height: unset;
    width: 100%;

    &:hover {
        color: var(--vscode-list-hoverForeground);
        background-color: var(--vscode-list-hoverBackground);
    }

    &:focus {
        color: var(--vscode-list-focusForeground);
        background-color: var(--vscode-list-focusBackground);
    }

    animation: none;
}

.ms-GroupHeader {
    border-bottom: unset;
    padding-top: 3px;
    padding-bottom: 3px;

    &:hover {
        color: var(--vscode-list-hoverForeground);
        background-color: var(--vscode-list-hoverBackground);
    }

    &:focus {
        color: var(--vscode-list-focusForeground);
        background-color: var(--vscode-list-focusBackground);
    }

    .ms-GroupHeader-title {
        font-size: 13px;
        font-weight: 500;
        padding-left: 6px;

        span[class^="headerCount-"] {
            font-size: 11px;
            padding-left: 6px;
        }
    }

    div[class^="groupHeaderContainer-"] {
        height: unset;

        button {
            width: unset;
            height: unset;
            margin-left: 15px;

            &:hover {
                color: var(--vscode-list-hoverForeground);
                background-color: var(--vscode-list-hoverBackground);
            }

            i {
                display: none;
            }

            &::before {
                width: 16px;
                font: normal normal normal 16px/1 codicon;
                display: inline-block;
                text-decoration: none;
                text-rendering: auto;
                text-align: center;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                user-select: none;
                -webkit-user-select: none;
                -ms-user-select: none;
                content: "\eab6";
            }

            &[aria-expanded="true"] {
                &::before {
                    content: "\eab4";
                }
            }
        }
    }
}

.ms-DetailsList {
    overflow-x: hidden;

    .ms-List {
        .ms-List-cell {
            min-height: unset;

            .ms-GroupSpacer {
                min-height: unset;
                border-right: thin solid var(--vscode-tree-indentGuidesStroke);
                width: 23px !important;
            }

            .ms-DetailsRow-fields {
                min-height: unset;
                padding-top: 3px;
                padding-bottom: 3px;

                .ms-DetailsRow-cell {
                    min-height: unset;
                    padding-top: 0px;
                    padding-bottom: 0px;
                    font-size: 13px;
                    font-weight: 500;
                    color: var(--vscode-foreground);

                    &:hover {
                        color: var(--vscode-list-hoverForeground);
                    }
                }
            }
        }
    }
}

.wrangler-grid-header-cell-content-container .ms-TooltipHost {
    display: flex;
}

body {
    padding: 0;

    &.vscode-light {
        --theme-wrangler-grid-cell-default-fg: var(--vscode-editor-foreground);
        --theme-wrangler-grid-cell-default-bg: var(--vscode-editor-background);
        --theme-wrangler-grid-cell-default-hover-bg: var(--vscode-list-hoverBackground);
        --theme-wrangler-grid-cell-default-border-color: var(--vscode-editorGroup-border);
        --theme-wrangler-grid-header-cell-default-fg: var(--vscode-editor-foreground);
        --theme-wrangler-grid-header-cell-default-bg: var(--vscode-editor-background);
        --theme-wrangler-grid-header-cell-default-border-color: var(--vscode-editorWidget-border);
        --theme-wrangler-grid-header-cell-default-hover-bg: var(--vscode-list-hoverBackground);
        --theme-wrangler-grid-header-cell-default-hover-button-hover-bg: var(--vscode-list-activeSelectionBackground);
        --theme-wrangler-grid-cell-default-column-selected-bg: var(--vscode-list-hoverBackground);
        --theme-wrangler-grid-cell-default-column-selected-hover-bg: var(--vscode-toolbar-hoverBackground);
        --theme-wrangler-grid-cell-default-column-selected-border-color: var(--vscode-editorWidget-border);
        --theme-wrangler-grid-header-cell-default-column-selected-fg: var(--vscode-list-activeSelectionForeground);
        --theme-wrangler-grid-header-cell-default-column-selected-bg: var(--vscode-list-activeSelectionBackground);
        --theme-wrangler-grid-header-cell-default-column-selected-hover-button-hover-bg: var(
            --vscode-toolbar-hoverBackground
        );
        --theme-wrangler-grid-cell-selected-fg: var(--vscode-list-activeSelectionForeground);
        --theme-wrangler-grid-cell-selected-bg: var(--vscode-list-activeSelectionBackground);
        --theme-wrangler-grid-cell-focus-border-color: var(--vscode-button-background);
        --theme-wrangler-grid-cell-column-removed-fg: #323130;
        --theme-wrangler-grid-cell-column-removed-bg: rgba(253, 231, 233, 0.5);
        --theme-wrangler-grid-cell-column-removed-border-color: #dbc7c7;
        --theme-wrangler-grid-cell-column-removed-hover-bg: #fde7e9;
        --theme-wrangler-grid-cell-column-removed-modified-bg: rgba(253, 231, 233, 0.8);
        --theme-wrangler-grid-cell-column-removed-selected-border-color: #a80000;
        --theme-wrangler-grid-header-cell-column-removed-fg: #a80000;
        --theme-wrangler-grid-header-cell-column-removed-bg: #fde7e9;
        --theme-wrangler-grid-header-cell-column-removed-hover-button-hover-bg: #fbd1d5;
        --theme-wrangler-grid-cell-column-added-fg: #323130;
        --theme-wrangler-grid-cell-column-added-bg: rgba(223, 246, 221, 0.5);
        --theme-wrangler-grid-cell-column-added-border-color: #b6cfb6;
        --theme-wrangler-grid-cell-column-added-hover-bg: #dff6dd;
        --theme-wrangler-grid-cell-column-added-modified-bg: rgba(223, 246, 221, 0.8);
        --theme-wrangler-grid-cell-column-added-selected-border-color: #107c10;
        --theme-wrangler-grid-cell-column-added-significant-color: #107c10;
        --theme-wrangler-grid-header-cell-column-added-fg: #107c10;
        --theme-wrangler-grid-header-cell-column-added-bg: #dff6dd;
        --theme-wrangler-grid-header-cell-column-added-hover-button-hover-bg: #c3edbf;
        --theme-wrangler-grid-cell-editor-placeholder-color: #605e5c;
        --theme-wrangler-grid-header-cell-modified-border-color: #ffffff;
    }

    &.vscode-dark {
        --theme-wrangler-grid-cell-default-fg: var(--vscode-editor-foreground);
        --theme-wrangler-grid-cell-default-bg: var(--vscode-editor-background);
        --theme-wrangler-grid-cell-default-hover-bg: var(--vscode-list-hoverBackground);
        --theme-wrangler-grid-cell-default-border-color: var(--vscode-editorWidget-border);
        --theme-wrangler-grid-header-cell-default-fg: var(--vscode-editor-foreground);
        --theme-wrangler-grid-header-cell-default-bg: var(--vscode-editor-background);
        --theme-wrangler-grid-header-cell-default-border-color: var(--vscode-editorWidget-border);
        --theme-wrangler-grid-header-cell-default-hover-bg: var(--vscode-list-hoverBackground);
        --theme-wrangler-grid-header-cell-default-hover-button-hover-bg: var(--vscode-list-activeSelectionBackground);
        --theme-wrangler-grid-cell-default-column-selected-bg: var(--vscode-list-hoverBackground);
        --theme-wrangler-grid-cell-default-column-selected-hover-bg: var(--vscode-toolbar-hoverBackground);
        --theme-wrangler-grid-cell-default-column-selected-border-color: var(--vscode-editorWidget-border);
        --theme-wrangler-grid-header-cell-default-column-selected-fg: var(--vscode-list-activeSelectionForeground);
        --theme-wrangler-grid-header-cell-default-column-selected-bg: var(--vscode-list-activeSelectionBackground);
        --theme-wrangler-grid-header-cell-default-column-selected-hover-button-hover-bg: var(
            --vscode-toolbar-hoverBackground
        );
        --theme-wrangler-grid-cell-selected-fg: var(--vscode-list-activeSelectionForeground);
        --theme-wrangler-grid-cell-selected-bg: var(--vscode-list-activeSelectionBackground);
        --theme-wrangler-grid-cell-focus-border-color: var(--vscode-button-background);
        --theme-wrangler-grid-cell-column-removed-fg: #f3f2f1;
        --theme-wrangler-grid-cell-column-removed-bg: rgba(68, 39, 38, 0.5);
        --theme-wrangler-grid-cell-column-removed-border-color: #755353;
        --theme-wrangler-grid-cell-column-removed-hover-bg: #442726;
        --theme-wrangler-grid-cell-column-removed-modified-bg: rgba(68, 39, 38, 0.8);
        --theme-wrangler-grid-cell-column-removed-selected-border-color: #f1707b;
        --theme-wrangler-grid-header-cell-column-removed-fg: #f1707b;
        --theme-wrangler-grid-header-cell-column-removed-bg: #442726;
        --theme-wrangler-grid-header-cell-column-removed-hover-button-hover-bg: rgb(47, 33, 31);
        --theme-wrangler-grid-cell-column-added-fg: #f3f2f1;
        --theme-wrangler-grid-cell-column-added-bg: rgba(42, 43, 26, 0.5);
        --theme-wrangler-grid-cell-column-added-border-color: #66684e;
        --theme-wrangler-grid-cell-column-added-hover-bg: #393d1b;
        --theme-wrangler-grid-cell-column-added-modified-bg: rgba(57, 61, 27, 0.8);
        --theme-wrangler-grid-cell-column-added-selected-border-color: #92c353;
        --theme-wrangler-grid-cell-column-added-significant-color: #107c10;
        --theme-wrangler-grid-header-cell-column-added-fg: #92c353;
        --theme-wrangler-grid-header-cell-column-added-bg: #393d1b;
        --theme-wrangler-grid-header-cell-column-added-hover-button-hover-bg: rgb(42, 43, 26);
        --theme-wrangler-grid-cell-editor-placeholder-color: #cccccc;
        --theme-wrangler-grid-header-cell-modified-border-color: #ffffff;
    }

    &.vscode-high-contrast[data-vscode-theme-name="Dark High Contrast"] {
        --theme-wrangler-grid-cell-default-fg: var(--vscode-foreground);
        --theme-wrangler-grid-cell-default-bg: var(--vscode-editor-background);
        --theme-wrangler-grid-cell-default-hover-bg: #2a2d2e;
        --theme-wrangler-grid-cell-default-border-color: transparent;
        --theme-wrangler-grid-header-cell-default-fg: var(--vscode-foreground);
        --theme-wrangler-grid-header-cell-default-bg: #0c141f;
        --theme-wrangler-grid-header-cell-default-border-color: transparent;
        --theme-wrangler-grid-header-cell-default-hover-bg: #2a2d2e;
        --theme-wrangler-grid-header-cell-default-hover-button-hover-bg: var(--vscode-editor-background);
        --theme-wrangler-grid-cell-default-column-selected-bg: #2a2d2e;
        --theme-wrangler-grid-cell-default-column-selected-hover-bg: #2a2d2e;
        --theme-wrangler-grid-cell-default-column-selected-border-color: transparent;
        --theme-wrangler-grid-header-cell-default-column-selected-fg: var(--vscode-foreground);
        --theme-wrangler-grid-header-cell-default-column-selected-bg: #094771;
        --theme-wrangler-grid-header-cell-default-column-selected-hover-button-hover-bg: #094771;
        --theme-wrangler-grid-cell-selected-fg: var(--vscode-foreground);
        --theme-wrangler-grid-cell-selected-bg: #094771;
        --theme-wrangler-grid-cell-focus-border-color: #f38518;
        --theme-wrangler-grid-cell-column-removed-fg: var(--vscode-foreground);
        --theme-wrangler-grid-cell-column-removed-bg: #442726;
        --theme-wrangler-grid-cell-column-removed-border-color: transparent;
        --theme-wrangler-grid-cell-column-removed-hover-bg: var(--vscode-editor-background);
        --theme-wrangler-grid-cell-column-removed-modified-bg: rgba(68, 39, 38, 0.8);
        --theme-wrangler-grid-cell-column-removed-selected-border-color: #f1707b;
        --theme-wrangler-grid-header-cell-column-removed-fg: #f1707b;
        --theme-wrangler-grid-header-cell-column-removed-bg: var(--vscode-editor-background);
        --theme-wrangler-grid-header-cell-column-removed-hover-button-hover-bg: rgb(47, 33, 31);
        --theme-wrangler-grid-cell-column-added-fg: var(--vscode-foreground);
        --theme-wrangler-grid-cell-column-added-bg: #2a2b1a;
        --theme-wrangler-grid-cell-column-added-border-color: transparent;
        --theme-wrangler-grid-cell-column-added-hover-bg: var(--vscode-editor-background);
        --theme-wrangler-grid-cell-column-added-modified-bg: rgba(57, 61, 27, 0.8);
        --theme-wrangler-grid-cell-column-added-selected-border-color: #92c353;
        --theme-wrangler-grid-cell-column-added-significant-color: #107c10;
        --theme-wrangler-grid-header-cell-column-added-fg: #92c353;
        --theme-wrangler-grid-header-cell-column-added-bg: var(--vscode-editor-background);
        --theme-wrangler-grid-header-cell-column-added-hover-button-hover-bg: rgb(42, 43, 26);
        --theme-wrangler-grid-cell-editor-placeholder-color: var(--vscode-foreground);
        --theme-wrangler-grid-header-cell-modified-border-color: var(--vscode-foreground);
    }

    &.vscode-high-contrast[data-vscode-theme-name="Light High Contrast"] {
        --theme-wrangler-grid-cell-default-fg: var(--vscode-foreground);
        --theme-wrangler-grid-cell-default-bg: var(--vscode-editor-background);
        --theme-wrangler-grid-cell-default-hover-bg: rgba(15, 74, 133, 0.1);
        --theme-wrangler-grid-cell-default-border-color: transparent;
        --theme-wrangler-grid-header-cell-default-fg: var(--vscode-foreground);
        --theme-wrangler-grid-header-cell-default-bg: var(--vscode-editor-background);
        --theme-wrangler-grid-header-cell-default-border-color: transparent;
        --theme-wrangler-grid-header-cell-default-hover-bg: rgba(15, 74, 133, 0.1);
        --theme-wrangler-grid-header-cell-default-hover-button-hover-bg: var(--vscode-editor-background);
        --theme-wrangler-grid-cell-default-column-selected-bg: rgba(15, 74, 133, 0.1);
        --theme-wrangler-grid-cell-default-column-selected-hover-bg: rgba(15, 74, 133, 0.1);
        --theme-wrangler-grid-cell-default-column-selected-border-color: transparent;
        --theme-wrangler-grid-header-cell-default-column-selected-fg: var(--vscode-editor-background);
        --theme-wrangler-grid-header-cell-default-column-selected-bg: #094771;
        --theme-wrangler-grid-header-cell-default-column-selected-hover-button-hover-bg: #094771;
        --theme-wrangler-grid-cell-selected-fg: var(--vscode-editor-background);
        --theme-wrangler-grid-cell-selected-bg: #094771;
        --theme-wrangler-grid-cell-focus-border-color: #0f4a85;
        --theme-wrangler-grid-cell-column-removed-fg: var(--vscode-foreground);
        --theme-wrangler-grid-cell-column-removed-bg: rgba(253, 231, 233, 0.5);
        --theme-wrangler-grid-cell-column-removed-border-color: transparent;
        --theme-wrangler-grid-cell-column-removed-hover-bg: var(--vscode-editor-background);
        --theme-wrangler-grid-cell-column-removed-modified-bg: rgba(253, 231, 233, 0.8);
        --theme-wrangler-grid-cell-column-removed-selected-border-color: #a80000;
        --theme-wrangler-grid-header-cell-column-removed-fg: #a80000;
        --theme-wrangler-grid-header-cell-column-removed-bg: var(--vscode-editor-background);
        --theme-wrangler-grid-header-cell-column-removed-hover-button-hover-bg: #fbd1d5;
        --theme-wrangler-grid-cell-column-added-fg: var(--vscode-foreground);
        --theme-wrangler-grid-cell-column-added-bg: rgba(223, 246, 221, 0.5);
        --theme-wrangler-grid-cell-column-added-border-color: transparent;
        --theme-wrangler-grid-cell-column-added-hover-bg: var(--vscode-editor-background);
        --theme-wrangler-grid-cell-column-added-modified-bg: rgba(223, 246, 221, 0.8);
        --theme-wrangler-grid-cell-column-added-selected-border-color: #107c10;
        --theme-wrangler-grid-cell-column-added-significant-color: #107c10;
        --theme-wrangler-grid-header-cell-column-added-fg: #107c10;
        --theme-wrangler-grid-header-cell-column-added-bg: var(--vscode-editor-background);
        --theme-wrangler-grid-header-cell-column-added-hover-button-hover-bg: #c3edbf;
        --theme-wrangler-grid-cell-editor-placeholder-color: var(--vscode-foreground);
        --theme-wrangler-grid-header-cell-modified-border-color: var(--vscode-foreground);
    }
}

.editor-text-edited {
    background-color: var(--theme-wrangler-grid-cell-column-added-hover-bg);
}

.wrangler-grid-header-label-container {
    display: flex;
    align-items: center;
    gap: 5px;
    min-width: 0px;
}

.wrangler-grid-header-label-text {
    text-overflow: ellipsis;
    overflow: hidden;
}

.wrangler-column-header-button {
    color: unset !important;
}

.wrangler-column-header-commit-button {
    border-radius: 0;
}

.wrangler-grid-cell-view-content {
    & > .ms-Shimmer-container {
        width: 100%;
        margin-right: 4px;
    }

    &.wrangler-grid-right-aligned > .ms-Shimmer-container {
        margin-right: 0;
        margin-left: 4px;
    }

    &.wrangler-grid-center-aligned > .ms-Shimmer-container {
        margin-left: 4px;
    }
}

.gridPanel-toolbar-vscode-button {
    background-color: inherit;
    color: var(--vscode-foreground);
    white-space: nowrap;
    overflow: hidden;

    &:hover {
        background-color: var(--theme-wrangler-grid-cell-default-hover-bg);
        color: var(--theme-wrangler-grid-cell-default-fg);
    }

    &::part(control) {
        border-color: transparent;
    }
}

.wrangler-grid-toaster {
    position: fixed;
    bottom: 30px;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    z-index: 1;
    gap: 12px;
    pointer-events: none;
}

.wrangler-grid-toast {
    min-width: 300px;
    display: flex;
    gap: 8px;
    background-color: var(--vscode-notifications-background);
    border-radius: 4px;
    padding: 12px;
    color: var(--vscode-foreground);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
    pointer-events: all;

    .codicon-pass-filled {
        color: var(--vscode-charts-green);
    }

    .wrangler-error-icon {
        color: var(--vscode-problemsErrorIcon-foreground);
    }

    .wrangler-info-icon {
        color: var(--vscode-problemsInfoIcon-foreground);
    }

    .wrangler-grid-toast-close-btn {
        margin-left: auto;
        align-self: flex-start;
        --button-icon-padding: 0;
    }

    .wrangler-grid-toast-buttons {
        display: flex;
        gap: 16px;
    }
}
