:root {
    --theme-wrangler-grid-cell-default-fg: #323130;
    --theme-wrangler-grid-cell-default-bg: #ffffff;
    --theme-wrangler-grid-cell-default-hover-bg: #f3f2f1;
    --theme-wrangler-grid-cell-default-border-color: #edebe9;
    --theme-wrangler-grid-header-cell-default-fg: #323130;
    --theme-wrangler-grid-header-cell-default-bg: #ffffff;
    --theme-wrangler-grid-header-cell-default-border-color: #edebe9;
    --theme-wrangler-grid-header-cell-default-hover-bg: #f3f2f1;
    --theme-wrangler-grid-header-cell-default-hover-button-hover-bg: #edebe9;
    --theme-wrangler-grid-cell-default-column-selected-bg: #f3f2f1;
    --theme-wrangler-grid-cell-default-column-selected-hover-bg: #edebe9;
    --theme-wrangler-grid-cell-default-column-selected-border-color: #ffffff;
    --theme-wrangler-grid-header-cell-default-column-selected-fg: #ffffff;
    --theme-wrangler-grid-header-cell-default-column-selected-bg: #0078d4;
    --theme-wrangler-grid-header-cell-default-column-selected-hover-button-hover-bg: #106ebe;
    --theme-wrangler-grid-cell-selected-fg: #ffffff;
    --theme-wrangler-grid-cell-selected-bg: #0078d4;
    --theme-wrangler-grid-cell-focus-border-color: transparent;
    --theme-wrangler-grid-cell-column-removed-fg: #323130;
    --theme-wrangler-grid-cell-column-removed-bg: rgba(253, 231, 233, 0.5);
    --theme-wrangler-grid-cell-column-removed-border-color: #ffffff;
    --theme-wrangler-grid-cell-column-removed-hover-bg: #fde7e9;
    --theme-wrangler-grid-cell-column-removed-modified-bg: rgba(253, 231, 233, 0.8);
    --theme-wrangler-grid-cell-column-removed-selected-border-color: #a80000;
    --theme-wrangler-grid-header-cell-column-removed-fg: #a80000;
    --theme-wrangler-grid-header-cell-column-removed-bg: #fde7e9;
    --theme-wrangler-grid-header-cell-column-removed-hover-button-hover-bg: #fbd1d5;
    --theme-wrangler-grid-cell-column-added-fg: #323130;
    --theme-wrangler-grid-cell-column-added-bg: rgba(223, 246, 221, 0.5);
    --theme-wrangler-grid-cell-column-added-border-color: #ffffff;
    --theme-wrangler-grid-cell-column-added-hover-bg: #dff6dd;
    --theme-wrangler-grid-cell-column-added-modified-bg: rgba(223, 246, 221, 0.8);
    --theme-wrangler-grid-cell-column-added-selected-border-color: #107c10;
    --theme-wrangler-grid-cell-column-added-significant-color: #107c10;
    --theme-wrangler-grid-header-cell-column-added-fg: #107c10;
    --theme-wrangler-grid-header-cell-column-added-bg: #dff6dd;
    --theme-wrangler-grid-header-cell-column-added-hover-button-hover-bg: #c3edbf;
    --theme-wrangler-grid-cell-editor-placeholder-color: #605e5c;
    --theme-wrangler-grid-header-cell-modified-border-color: #ffffff;
}
